<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container" th:object="${task}">
		<nav class="navbar navbar-dark bg-dark mb-4 navbar-expand" th:fragment="header">
  			<a class="navbar-brand" th:href="@{/}" th:text="#{tasks.title}"></a>
  			
  			<ul class="navbar-nav mr-auto">
  				<li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/tasks}">Mis tareas</a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/admin}">Administracion</a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="/h2-console">H2 Console</a></li>
  			</ul>
  			
  			<form class="form-inline mb-2" th:action="@{/search}" action="#" method="post">
		      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search-pattern">
		      <button class="btn btn-outline-success" type="submit" th:text="#{tasks.search}"></button>
		    </form>
		    
  			<th:block sec:authorize="isAuthenticated()">
			    <p class="navbar-text ml-2" sec:authentication="name">
			    	[[${#httpServletRequest.remoteUser}]]
			    </p>
			    
			    <form id="logout-form" class="form-inline mb-2 ml-2" method="post" th:action="@{/logout}">
					<button class="btn btn-outline-danger" type="submit">Salir</button>
				</form>
			</th:block>
  		</nav>
  		
  		<h1>Bienvenido</h1>
  		
  		<dl sec:authorize="isAuthenticated()">
  			<dt>Usuario</dt>
  			<dl sec:authentication="name"></dl>
  			
  			<dt>Roles</dt>
  			<dl sec:authentication="principal.authorities"></dl>
  		</dl>
  		
  		<form id="login-form" th:action="@{/}" method="post" sec:authorize="!isAuthenticated()">
			<div class="form-group">
				<label for="username">Nombre de usuario</label>
				<input name="username" class="form-control" />
			</div>
			
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input name="password" type="password" class="form-control" />
			</div>
			
			<button type="submit" class="btn btn-primary">Acceder</button>
		</form>
	</div>
</body>
</html>