<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container" th:object="${task}">
		<div th:replace="fragments/header :: header"></div>
		
		<h1 th:text="*{name}"></h1>
		<p th:text="*{description}">  </p>
		<p th:text="*{author.name}"> </p>
		<p>
		  <a th:href="@{/}" th:text="#{back}"></a>
		</p>
	</div>
	
</body>
</html>