<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title th:text="#{tasks.title}"></title>
</head>
<body>
	<div class="container">
		<h1 th:text="#{tasks.title}"></h1>
		
		<form class="form-inline" th:object="${task}" th:action="@{/addTask}" method="post" action="#" >
		
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			<p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
		</div>
		
		  <label for="name" th:text="#{tasks.task}"></label>
		  <input type="text" class="form-control" th:field="*{name}" th:placeholder="Tarea">
		  
		  <label for="author" th:text="#{tasks.author}"></label>
		  <div class="input-group">
		    <div class="input-group-addon">@</div>
		    <input type="text" class="form-control" id="author" name="author" th:placeholder="#{tasks.title}">
		  </div>
		
		  <button type="submit" class="btn btn-primary" th:text="#{tasks.submit}"></button>
		</form>
		
		<br />
		
		<ul th:if="${not #lists.isEmpty(tasks)}" class="list-group mt-5">
			<li th:each="task : ${tasks}" class="list-group-item">
				<a th:href="@{/task/__${task.id}__}" th:text="${task.name}"></a>
			</li>
		</ul>
	</div>
</body>
</html>