<<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title th:text="#{tasks.title}"></title>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header"></div>
		
		<form class="form-inline" th:object="${task}" th:action="@{/addTask}" method="post" action="#" >
		
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			<p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
		</div>
		
		  <label for="name" th:text="#{tasks.task}"></label>
		  <input type="text" class="form-control" th:field="*{name}" th:placeholder="Tarea">
		
		  <button type="submit" class="btn btn-primary" th:text="#{tasks.submit}"></button>
		</form>
		
		<ul th:if="${not #lists.isEmpty(tasks)}" class="list-group mt-5">
			<li th:each="task : ${tasks}" class="list-group-item">
				<a th:href="@{/task/__${task.id}__}" th:text="${task.name}"></a>
			</li>
		</ul>
	</div>
</body>
</html>